/* General */

:root {
    --colour-primary: #22a98f;
    --colour-dark: #00977e;
    
    --light-grey-bg: #f8fafc;
    --light-grey-outline: #e0e1e4;
    --light-grey-text: #7d8999;
    --dark-grey-text: #525663;

    --navbar-height: 56px;
    --sidebar-expanded-width: 220px;
    --sidebar-collapsed-width: 5rem;

    --my-form-height: calc(3.5rem + 2px);
    --my-form-padding: 1rem 0.75rem;

    --my-border-radius: 5px;
    --my-box-shadow: 0 5px 10px 0 rgba(60, 66, 87, 0.08);

    --my-transition: ease all 0.15s;
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 1rem;
    max-width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100%;
    min-width: 100vw;
    min-width: -webkit-fill-available;
    height: 100%;
    background: var(--light-grey-bg);
}

main {
    position: absolute;
    top :0;
    left: 0;
    width: 100%;
    min-height: calc(100% - var(--navbar-height));
    padding: 2.5rem;
    z-index: 1;
}

.navbar ~ main {
    top: var(--navbar-height);
}


/* Navbar */

.navbar, 
.sidebar {
    font-weight: 300;
}

.navbar {
    width: 100%;
    background: white;
    box-shadow: var(--my-box-shadow);
    z-index: 99;
}

.navbar-nav,
.sidebar .nav-link {
    --bs-nav-link-color: var(--dark-grey-text) !important;
    --bs-nav-link-hover-color: black !important;
    --bs-navbar-active-color: var(--colour-primary) !important;
}

.nav-link {
    padding: 0.5rem 1rem;
}

.nav-link.active {
    color: var(--colour-primary);
}

.navbar-brand {
    --bs-navbar-brand-color: var(--dark-grey-text) !important;
    --bs-navbar-brand-hover-color: black !important;
}

.navbar-toggler {
    color: var(--dark-grey-text);
    padding: 0.5rem 1rem !important;
}

.navbar-toggler:hover {
    color: black;
    background: var(--light-grey-bg);
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* Sidebar */

.navbar:has(+ .sidebar) {
    padding-left: var(--sidebar-expanded-width) !important;
    transition: padding-left 0.3s ease;
}

.navbar:has(+ .sidebar.collapsed) {
    padding-left: var(--sidebar-collapsed-width) !important;
}

.sidebar ~ main {
    width: calc(100% - var(--sidebar-expanded-width)) !important;
    margin-left: var(--sidebar-expanded-width) !important;
    transition: margin-left 0.3s ease;
}
  
.sidebar.collapsed ~ main {
    width: calc(100% - var(--sidebar-collapsed-width)) !important;
    margin-left: var(--sidebar-collapsed-width) !important;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--sidebar-expanded-width);
    height: 100vh;
    padding: 2.25rem 1rem;
    background-color: white;
    transition: width 0.3s ease;
    z-index: 100;
}

.sidebar.collapsed {
    width: var(--sidebar-collapsed-width);
}

.sidebar-header {
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar .nav-link {
    margin-bottom: 0.5rem;
    border-radius: var(--my-border-radius);
}

.sidebar .nav-link:hover {
    background: var(--light-grey-bg);
}

.sidebar .nav-link i {
    margin-right: 0.5rem;
}

.sidebar.collapsed .nav-link i {
    margin-right: 0;
}


/* Text */

a {
    color: var(--colour-primary);
    text-decoration: none;
    transition: var(--my-transition);
}

a:hover {
    color: var(--colour-dark);
}

.my-muted {
    color: var(--light-grey-text);
}

.text-s {
    font-size: 0.9rem;
}

i:has(+ span) {
    margin-right: 0.2rem;
}

.btn i:has(+ span) {
    margin-right: 0.5rem;
}



/* Forms */

.form-floating {
    width: 100%;
    text-align: left;
}

.form-floating > .form-control {
    height: var(--my-form-height);
    min-height: var(--my-form-height);
}

.form-control {
    height: var(--my-form-height);
    min-height: var(--my-form-height);
    padding: var(--my-form-padding);
    color: var(--dark-grey-text);
    background: white;
    border-color: var(--light-grey-outline);
    font-size: 0.9rem;
    border-radius: var(--my-border-radius);
}

.form-control:focus {
    color: var(--dark-grey-text);
    border-color: var(--colour-primary);
    outline: none;
}

.form-control:disabled,
.form-floating>.form-control:disabled~label::after, 
.form-floating>:disabled~label::after {
    background: var(--light-grey-bg);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--dark-grey-text);
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: all 0s 50000s;
}

textarea {
    height: calc(2* var(--my-form-height)) !important;
}

.input-error {
    border: solid 1px red !important;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

#role.input-error {
    border: none !important;
}

#role.input-error .btn {
    border: solid 1px red !important;
}

.form-check {
    color: var(--dark-grey-text);
    font-size: 0.9rem;
}

.form-check-input:checked {
    background-color: var(--colour-primary);
    border-color: var(--colour-primary);
}

/* Buttons */

.btn {
    padding: 10px 20px;
    height: var(--my-form-height);
    border-radius: var(--my-border-radius);
    transition: var(--my-transition);
    display: flex;
    justify-content: center;
    align-items: center;
}

form .btn,
.row .btn {
    width: 100%;
}

.btn-primary,
.btn-primary.show,
.btn-primary:disabled {
    color: white;
    background: var(--colour-primary);
    border-color: var(--colour-primary);
}

.btn-primary:hover, 
.btn-primary:focus,
.btn-primary:active,
.btn-primary:first-child:active,
.btn-primary:focus-visible,
.btn-primary.active,
:not(.btn-check)+.btn-primary:active {
    background: var(--colour-dark);
    border-color: var(--colour-dark);
}

.btn-outline-primary {
    color: var(--colour-primary);
    background: transparent;
    border: solid 1px var(--colour-primary);
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:first-child:active,
.btn-outline-primary:focus-visible,
.btn-outline-primary.active,
:not(.btn-check)+.btn-outline-primary:active {
    color: white;
    background: var(--colour-primary);
    border-color: var(--colour-primary);
}

.btn-outline-secondary {
    color: var(--bs-btn-color);
    background: transparent;
    border: solid var(--bs-btn-color);
}

.btn-outline-secondary:hover {
    color: white;
    background: var(--bs-btn-color);
    border: solid var(--bs-btn-color);
}


.btn-check + .btn:hover,
.btn-check:checked + .btn {
    color: white;
    background: var(--colour-primary);
    border-color: var(--colour-primary);
}

.btn-icon {
    font-size: 1.2rem;
    color: var(--light-grey-text);
    padding: 0;
    height: auto !important;
    background: none !important;
    border: none !important;
}

.btn-icon i:hover {
    color: var(--dark-grey-text) !important;
}

.input-btn-icon {
    color: var(--light-grey-text);
    padding: var(--my-form-padding);
    height: var(--my-form-height);
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3px; 
    /* TODO: verify above */
    border: none;
    background: none;
    cursor: pointer;
    transition: var(--my-transition);
}

.form-floating button:hover {
    color: var(--dark-grey-text);
}


/* Tables */

.table>:not(caption)>*>* {
    color: var(--dark-grey-text);
}


table th {
    font-weight: 500;
}


/* Containers */

.col-lg-auto {
    min-width: 180px;
}

.my-card {
    color: var(--dark-grey-text);
    background: white;
    box-shadow: var(--my-box-shadow);
    height: 100%;
    width: 100%;
    padding: 3rem;
    border-radius: var(--my-border-radius);
    border: none;
}

@media only screen and (max-width: 768px) {
    .my-card {
        width: 100%;
    }
}

.list-group-flush > .list-group-item:first-child {
    border-top-left-radius: var(--my-border-radius);
    border-top-right-radius: var(--my-border-radius);
}

.list-group-flush > .list-group-item:last-child {
    border-bottom-left-radius: var(--my-border-radius);
    border-bottom-right-radius: var(--my-border-radius);
}

.list-group-item-action {
    color: var(--dark-grey-text);
    transition: var(--my-transition);
    border-color: var(--light-grey-outline);
}

.list-group-item-action.disabled {
    color: var(--light-grey-text);
}

.list-group-item-action:hover {
    color: black;
    cursor: pointer;
}

.list-group-item-action.active {
    z-index: 2;
    color: var(--colour-primary);
    background: var(--light-grey-bg);
    border-color: var(--light-grey-outline);
}


.list-group-item-action.active:hover {
    color: var(--colour-dark);
}

.list-group-item + .list-group-item.active {
    margin-top: inherit;
    border-top-width: inherit;
}

.list-group-item-action a {
    color: inherit;
}

/* Home page */

#home-page {
    color: var(--dark-grey-text);
    align-items: center;
    justify-content: left;
    text-align: left;
    width: 100%;
    height: 100%;
}

#home-page .home-body {
    padding: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/* Profie picture displayed in profile form */

#profile-picture-container {
    margin: 20px auto;
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-picture-preview {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}

#profile-picture-upload {
    color: white;
    padding: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    z-index: 2;
}

.profile-picture {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.list-group-item .profile-picture {
    height: 50px;
    width: 50px;
}


/* Messages */

.my-card#conversation-selector {
    height: 75vh;
    overflow-y: auto;
    white-space: nowrap;
}

.my-card#conversation-container {
    height: 75vh;
}

.messages-container {
    height: 40vh;
    overflow-y: auto;
}

.message {
    display: inline-block;
    border-radius: 10px;
    clear: both;
}

.message.from_current_user {
    float: right !important;
    color: white;
    background: var(--colour-primary);
}

.message.from_other_user {
    float: left !important;
    background: var(--light-grey-bg);
}


/* Miscellaneous */

#flashed-messages-container {
    position: fixed;
    bottom: 0;
    width: 80%;
    z-index: 99;
}

.hidden {
    display: none;
}

.my-tooltip {
    --bs-tooltip-bg: var(--dark-grey-text);
    --bs-tooltip-color: white;
}

.tag {
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    border-radius: var(--my-border-radius);
    background-color: var(--light-grey-bg);
}

.tag-lg {
    font-size: 1rem;
    padding: 10px 20px;
}

.tag-sm {
    font-size: 0.8rem;
    padding: 0.25rem 0.4rem;
}


/* Accordions */

.accordion-item {
    color: var(--dark-grey-text);
    border: none;
}

.accordion-body {
    padding: 0.5rem 1.25rem;
}

.accordion-button {
    color: var(--dark-grey-text);
    font-size: inherit;
    font-weight: inherit;
    border-radius: var(--my-border-radius);
}

.accordion-button:focus {
    box-shadow: none;
    border: none;
}

.accordion-button:hover,
.accordion-button:not(.collapsed):hover {
    color: black;
    background-color: var(--light-grey-bg);
}

.accordion-button:not(.collapsed) {
    color: var(--dark-grey-text);
    background-color: var(--light-grey-bg);
    box-shadow: none;
}


/* Hide the increment/decrement arrows for input fields with btn-icon siblings */

.form-floating .input-btn-icon + input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
}

.form-floating .input-btn-icon + input[type="number"]::-webkit-inner-spin-button,
.form-floating .input-btn-icon + input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-floating .input-btn-icon + input[type="number"]::-moz-focus-inner,
.form-floating .input-btn-icon + input[type="number"]::-moz-focus-outer {
    border: 0;
    -moz-appearance: textfield;
}
