/* General */

:root {
    --accent-primary: #635bff;
    --accent-dark: #533afd;
    --accent-greyed: #857dff;
    
    --light-grey-bg: #f8fafc;
    --light-grey-outline: #e0e1e4;
    --light-grey-text: #6c7888;
    --dark-grey-text: #414552;

    --my-border-radius: 5px;
    --my-box-shadow: 0 5px 10px 0 rgba(60, 66, 87, 0.08);
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100vw;
    height: 100%;
    background: var(--light-grey-bg);
}

main {
    width: 100%;
    height: calc(100vh - 56px);
    position: absolute;
    left: 0;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    box-shadow: var(--my-box-shadow);
}


/* Text */

h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

a {
    color: var(--accent-primary);
    text-decoration: none;
    transition: all 0.2s ease;
}

a:hover {
    color: var(--accent-dark);
}

i {
    margin-right: 3px;
}


/* Forms */

.form-floating {
    width: 100%;
    text-align: left;
}

.form-control {
    color: var(--dark-grey-text);
    background: white;
    border-color: var(--light-grey-outline);
    font-size: 0.9rem;
    margin: 12px 0;
    border-radius: var(--my-border-radius);
}

.form-control:focus {
    color: var(--dark-grey-text);
    border-color: var(--dark-grey-text);
    outline: none;
    box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--dark-grey-text);
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: all 0s 50000s;
}


/* Buttons */

.btn {
    padding: 10px 30px;
    border: none;
    border-radius: var(--my-border-radius);
}

.btn:focus,
.btn:active,
.btn:focus-visible {
    outline: none;
    box-shadow: none;
    border: inherit;
}

.btn-primary {
    color: white;
    background: var(--accent-primary);
}

.btn-primary:hover, 
.btn-primary:focus,
.btn-primary:active {
    background: var(--accent-dark);
}

.btn-primary:disabled {
    background: var(--accent-greyed);
}


/* Containers */

.page-header {
    padding: 30px;
    padding-top: 7vh;
    padding-bottom: 20px;
    text-align: center;
}

.container {
    color: var(--dark-grey-text);
    background: white;
    box-shadow: var(--my-box-shadow);
    width: 40%;
    padding: 3rem;
    border-radius: var(--my-border-radius);
    border: none;
}

@media only screen and (max-width: 992px) {
    .container {
        width: 80%;
    }
}

.container .description,
.container .description a {
    color: var(--light-grey-text);
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 12px;
}

.container .description a:hover {
    color: var(--dark-grey-text);
}

.container .btn {
    width: 100%;
    height: calc(3.5rem + 2px);
}


/* Home page */

#home-page {
    color: var(--dark-grey-text);
    align-items: center;
    justify-content: left;
    text-align: left;
    width: 100%;
    height: 100%;
}

#home-page .home-body {
    padding: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/* Miscellaneous */

.hidden {
    display: none;
}

.alert {
    margin-bottom: 10px;
    text-align: center;
}

.flashed-message {
    color: var(--dark-grey-text);
    background: var(--light-grey-bg);
    border: none;
    z-index: 99;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    text-align: left;
}
