/* General */

:root {
    --colour-primary: #635bff;
    --colour-dark: #533afd;
    --colour-primary-rgb: 99, 91, 255;
    
    --light-grey-bg: #f8fafc;
    --light-grey-outline: #e0e1e4;
    --light-grey-text: #6c7888;
    --dark-grey-text: #414552;

    --navbar-height: 56px;
    --sidebar-width: 200px;

    --my-form-height: calc(3.5rem + 2px);
    --my-form-padding: 1rem 0.75rem;

    --my-border-radius: 5px;
    --my-box-shadow: 0 5px 10px 0 rgba(60, 66, 87, 0.08);

    --my-transition: ease all 0.15s;
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100vw;
    height: 100%;
    background: var(--light-grey-bg);
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding: 3rem;
}

main.navbar-layout {
    top: var(--navbar-height);
}

main.sidebar-layout {
    width: calc(100% - var(--sidebar-width));
    left: var(--sidebar-width);
}


/* Navbar */

.navbar,
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: white;
    box-shadow: var(--my-box-shadow);
    padding: 0.5rem 0;
}

.navbar {
    min-height: var(--navbar-height);
    width: 100%;
}

.navbar-brand {
    font-size: 1.25rem;
    color: var(--dark-grey-text) !important;
}

.navbar-brand img {
    height: 1.25rem;
    margin-right: 3px;
}

.nav-link {
    color: var(--light-grey-text);
    transition: var(--my-transition);
}

.nav-link:hover {
    color: var(--dark-grey-text);
}

.nav-link.active {
    color: var(--colour-primary);
}

/* Sidebar */

.sidebar {
    position: fixed;
    height: 100%;
    width: var(--sidebar-width);
    max-width: var(--sidebar-width);
}


/* Text */

h3 {
    color: var(--dark-grey-text);
    font-size: 1.4rem;
    font-weight: 600;
}

a {
    color: var(--colour-primary);
    text-decoration: none;
    transition: var(--my-transition);
}

a:hover {
    color: var(--colour-dark);
}

i {
    margin-right: 3px;
}


/* Forms */

.form-floating {
    width: 100%;
    text-align: left;
}

.form-control {
    height: var(--my-form-height);
    padding: var(--my-form-padding);
    color: var(--dark-grey-text);
    background: white;
    border-color: var(--light-grey-outline);
    font-size: 0.9rem;
    border-radius: var(--my-border-radius);
}


.form-control:focus {
    color: var(--dark-grey-text);
    border-color: var(--colour-primary);
    outline: none;
    box-shadow: 0 0 0 .25rem rgba(var(--colour-primary-rgb), .25);
}

.form-control:disabled,
.form-floating>.form-control:disabled~label::after, 
.form-floating>:disabled~label::after {
    background: var(--light-grey-bg);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--dark-grey-text);
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: all 0s 50000s;
}

.input-error {
    border: solid 1px red !important;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

#role.input-error {
    border: none !important;
}

#role.input-error .btn {
    border: solid 1px red !important;
}

.form-check {
    color: var(--dark-grey-text);
    font-size: 0.9rem;
}

.form-check-input:checked {
    background-color: var(--colour-primary);
    border-color: var(--colour-primary);
    box-shadow: 0 0 0 .25rem rgba(var(--colour-primary-rgb), .25);
}


/* Buttons */

.btn {
    padding: 10px 30px;
    border: none;
    border-radius: var(--my-border-radius);
    transition: var(--my-transition);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:focus,
.btn:active,
.btn:focus-visible {
    outline: none;
    box-shadow: none;
    border: inherit;
}

.btn-primary,
.btn-primary.active,
.btn-primary.show,
.btn-primary:disabled,
:not(.btn-check)+.btn:active {
    color: white;
    background: var(--colour-primary);
}

.btn-primary:hover, 
.btn-primary:focus,
.btn-primary:active {
    background: var(--colour-dark);
}

.btn-outline-primary {
    color: var(--light-grey-text);
    background: transparent;
    border: solid 1px var(--light-grey-outline);
}

.btn-check + .btn:hover {
    color: var(--light-grey-text);
    background: rgba(var(--colour-primary-rgb), 0.1);
    border: solid 1px var(--light-grey-outline);
}

.btn-check:checked + .btn {
    color: var(--colour-primary);
    background: rgba(var(--colour-primary-rgb), 0.1);
    border: solid 1px var(--colour-primary) !important;
}

.form-floating button {
    color: var(--light-grey-text);
    padding: var(--my-form-padding);
    height: var(--my-form-height);
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    cursor: pointer;
    transition: var(--my-transition);
}

.form-floating button:hover {
    color: var(--dark-grey-text);
}


/* Tables */

.my-table {
    width: 100%;
    vertical-align: center;
}

.my-table tr {
    border-bottom: solid 1px var(--light-grey-outline);
}

.my-table td {
    padding: 8px;
}

.my-table .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-icon {
    font-size: 1.4rem;
    color: var(--light-grey-text);
    background: none !important;
    height: auto !important;
    padding: 0;
}

.btn-icon:hover {
    color: var(--dark-grey-text) !important;
}


/* Containers */

.page-header {
    margin-bottom: 20px;
}

.page-content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    gap: 40px;
}

.my-card {
    color: var(--dark-grey-text);
    background: white;
    box-shadow: var(--my-box-shadow);
    width: 100%;
    padding: 3rem;
    border-radius: var(--my-border-radius);
    border: none;
}

@media only screen and (max-width: 768px) {
    .my-card {
        width: 100%;
    }
}

.my-card .description {
    color: var(--light-grey-text);
    font-size: 0.8rem;
    line-height: 1.75;
}

form .btn {
    width: 100%;
    height: var(--my-form-height);
}


/* Home page */

#home-page {
    color: var(--dark-grey-text);
    align-items: center;
    justify-content: left;
    text-align: left;
    width: 100%;
    height: 100%;
}

#home-page .home-body {
    padding: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/* Profie picture displayed in profile form */

#profile-picture-container {
    margin: 20px auto;
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-picture-preview {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}

#profile-picture-upload {
    padding: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    z-index: 2;
}

#profile-picture-upload i {
    color: white;
    margin: 0;
}


/* Therapist card */

.profile-pic {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}



/* Miscellaneous */

.hidden {
    display: none;
}

.alert {
    margin-bottom: 10px;
    text-align: center;
}

.my-tooltip {
    --bs-tooltip-bg: var(--light-grey-bg);
    --bs-tooltip-color: var(--dark-grey-text);
  }

.flashed-message {
    color: var(--dark-grey-text);
    background: white;
    border: none;
    z-index: 99;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    text-align: left;
    box-shadow: var(--my-box-shadow);
}


.sidebar-layout .flashed-message {
    left: var(--sidebar-width);   
}