{% macro submit_button(submit_field) %}
    <button type="submit" class="btn btn-primary">
        <span class="btn-text">{{ submit_field.label.text }}</span>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
        <span class="visually-hidden">Loading...</span>
    </button>
{% endmacro %}


{% macro therapist_card(therapist) %}
    <div class="col-lg-6">
        <div class="my-card therapist-card">
            <div class="row mb-3">
                <div class="col-2">
                    <img src="{{ url_for('static', filename='img/profile_pictures/' + (therapist.user.profile_picture or 'default.png')) }}" 
                        class="profile-pic {{ 'default-profile-picture' if not therapist.user.profile_picture }}" 
                        alt="Profile picture of {{ therapist.user.first_name }} {{ therapist.user.last_name }}">
                </div>
                <div class="col-10 ps-4">
                    <h5>{{ therapist.user.first_name }} {{ therapist.user.last_name }}</h5>
                    <span class="text-muted">{{ therapist.qualifications }}</span>
                </div>
            </div>
            <div class="card-body">
                <p class="p-0">Types: {{ therapist.appointment_types|map(attribute='therapy_type.value')|unique|join(', ') }}</p>
                <p class="p-0">Modes: {{ therapist.appointment_types|map(attribute='therapy_mode.value')|unique|join(', ') }}</p>
                <p class="p-0">Titles: {{ therapist.titles|join(', ', 'name') }}</p>
                <p class="p-0">Gender: {{ therapist.user.gender.value }}</p>
                <p class="p-0">Languages: {{ therapist.languages|join(', ', 'name') }}</p>
                <p class="p-0">Based in: {{ therapist.country }}</p>
                <p class="p-0">Years of Experience: {{ therapist.years_of_experience }}</p>
                <p class="p-0">Specialisations: {{ therapist.specialisations|join(', ', 'name') }}</p>
                <p class="p-0">Interventions: {{ therapist.interventions|join(', ', 'name') }}</p>
                <a href="{{ url_for('therapist_directory.therapist', therapist_id=therapist.id) }}" class="btn btn-primary">View Profile</a>
            </div>
        </div>
    </div>
{% endmacro %}