{% macro submit_button(submit_field, id=None, class=None, disabled=False) %}
    <button type="submit" 
    id="{% if id %}{{ id }}{% endif %}"
    class="{% if class %}{{ class }}{% else %}btn btn-primary{% endif %}"
    {% if disabled %}disabled{% endif %}
        {% if submit_field.render_kw %}
            {% if submit_field.render_kw.name %} name={{ submit_field.render_kw['name'] }} {% endif %}
            {% if submit_field.render_kw.value %} value={{ submit_field.render_kw['value'] }} {% endif %}
        {% endif %}>
        <span class="btn-text">{{ submit_field.label.text }}</span>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
        <span class="visually-hidden">Loading...</span>
    </button>
{% endmacro %}


{% macro therapist_card(therapist) %}
    <div class="col-lg-6">
        <div class="my-card therapist-card">
            <div class="row mb-3">
                <div class="col-2">
                    <img src="{{ url_for('static', filename='img/profile_pictures/' + therapist.user.profile_picture) }}" class="profile-pic" alt="Profile picture of {{ therapist.user.full_name }}">
                </div>
                <div class="col-10 ps-4">
                    <h5>{{ therapist.user.full_name }}</h5>
                    <span class="text-muted">{{ therapist.qualifications }}</span>
                </div>
            </div>
            <div>
                <p class="p-0">Titles: {{ therapist.titles|join(', ', 'name') }}</p>
                <p class="p-0">
                    Types: 
                    {% for therapy_type in therapist.active_appointment_types|map(attribute='therapy_type')|unique %}
                        {{ tag(label=therapy_type.value, status=therapy_type.name, with_icon=True) }}
                    {% endfor %}
                </p>
                <p class="p-0">
                    Modes: 
                    {% for therapy_mode in therapist.active_appointment_types|map(attribute='therapy_mode')|unique %}
                        {{ tag(label=therapy_mode.value, status=therapy_mode.name, with_icon=True) }}
                    {% endfor %}
                </p>
                <p class="p-0">Languages: {{ therapist.languages|join(', ', 'name') }}</p>
                <p class="p-0">Based in: {{ therapist.country }}</p>
                <p class="p-0">Years of Experience: {{ therapist.years_of_experience }}</p>
                <p class="p-0">
                    Specialisations:
                    {% for specialisation in therapist.specialisations %}
                        {{ tag(label=specialisation.name) }}
                    {% endfor %}
                </p>
                <p class="p-0">
                    Interventions:
                    {% for intervention in therapist.interventions %}
                        {{ tag(label=intervention.name) }}
                    {% endfor %}
                </p>
                <a href="{{ url_for('therapist_directory.therapist', therapist_id=therapist.id) }}" class="btn btn-primary">View Profile</a>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro flashed_message(message, category) %}
    {% set class_map = {
        'success': ('alert-success', 'fa-solid fa-circle-check'),
        'error': ('alert-danger', 'fa-solid fa-circle-exclamation'),
        'warning': ('alert-warning', 'fa-solid fa-triangle-exclamation'),
        'info': ('alert-info', 'fa-solid fa-circle-info')
    } %}
    {% set alert_class, icon_class = class_map.get(category, ('alert-primary', 'fa-solid fa-circle-info')) %}
    
    <div class="alert {{ alert_class }} alert-dismissible fade show" role='alert'>
        <i class="{{ icon_class }}"></i> {{ message }}
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
{% endmacro %}

{% macro tag(label='', status='', with_icon=False, additional_class='') %}
    
    {% set default_class = 'bg-light text-dark' %}

    {% set tag_map = {
        
        'IN_PERSON': (default_class, 'fa-solid fa-user'),
        'AUDIO': (default_class, 'fa-solid fa-phone'),
        'VIDEO': (default_class, 'fa-solid fa-video'),
        
        'INDIVIDUAL': (default_class, 'fa-solid fa-person'),
        'COUPLES': (default_class, 'fa-solid fa-handshake-simple'),
        'FAMILY': (default_class, 'fa-solid fa-people-group'),
        'PSYCHOMETRICS': (default_class, 'fa-solid fa-stethoscope'),
        
        'NOT_SET': ('bg-primary-subtle text-primary-emphasis', 'fa-regular fa-note-sticky'),
        'INCOMPLETE': ('bg-warning-subtle text-warning-emphasis', 'fa-solid fa-exclamation'),
        'COMPLETED': ('bg-success-subtle text-success-emphasis', 'fa-solid fa-check'),
        
        'SCHEDULED': ('bg-info-subtle text-info-emphasis', 'fa-regular fa-clock'),
        'CONFIRMED': ('bg-primary-subtle text-primary-emphasis', 'fa-regular fa-calendar-check'),
        'COMPLETED': ('bg-success-subtle text-success-emphasis', 'fa-solid fa-check'),
        'RESCHEDULED': ('bg-warning-subtle text-warning-emphasis', 'fa-solid fa-rotate'),
        'CANCELLED': ('bg-danger-subtle text-danger-emphasis', 'fa-solid fa-xmark'),
        'NO_SHOW': ('bg-danger-subtle text-danger-emphasis', 'fa-solid fa-ban'),

        'PENDING': ('bg-warning-subtle text-warning-emphasis', 'fa-regular fa-clock'),
        'SUCCEEDED': ('bg-success-subtle text-success-emphasis', 'fa-solid fa-check'),
        'FAILED': ('bg-danger-subtle text-danger-emphasis', 'fa-solid fa-xmark')
    } %}
    {% set class, icon_class = tag_map.get(status.upper(), (default_class, None)) %}
    <span class="tag {{ class }} {{ additional_class }}">
        {% if icon_class and with_icon %}
            <i class="{{ icon_class }}" style="font-size:small;"></i>
        {% endif %}
        {{ label }}</span>
{% endmacro %}
