<nav class="navbar navbar-expand mb-5">
    <div class="container-fluid">
                
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img/logos/logo.png') }}" alt="Logo" height="24" class="d-inline-block align-text-top me-1">
            mindli
        </a>

        <!-- Navbar body -->
        <div class='collapse navbar-collapse' id='navbarText'>
            
            <ul class='navbar-nav me-auto'>
                <li class='nav-item'>
                    <a class='nav-link' href='/'>About</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/therapists'>Therapists</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/contact'>Contact Us</a>
                </li>
            </ul>
            
            <ul class='navbar-nav me-2'>
                {% if not current_user.is_authenticated %}
                    <li class='nav-item me-2'>
                        <a class='nav-link btn btn-outline-primary btn-default-height' href='/login'>Sign In</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link btn btn-outline-secondary btn-default-height' href='/register'>Get Started</a>
                    </li>
                {% else %}
                    <li class='nav-item'>
                        <a class='nav-link btn btn-outline-secondary btn-default-height' href='/logout'>Sign Out</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
