<div class="sidebar">
    <div class='container-fluid'>

        <a class='navbar-brand' href='/'>
            {{ current_user.role.value }}
        </a>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">    
                <a class="nav-link" href="{{ url_for('profile.index') }}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/messages">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('appointments.index') }}">Appointments</a>
            </li>
            {% if current_user.role == UserRole.THERAPIST %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('clients.index') }}">Clients</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('therapists.index') }}">Therapists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</div>