<div class="sidebar">
    <div class='container-fluid'>

        <a class='navbar-brand' href='/'>
            <img src="{{ url_for('static', filename='img/logos/logo-primary.png') }}" alt="mindli-logo">
            mindli
        </a>

        <p>TODO: {{ current_user.role.value }}</p>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/messages">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('appointments.index') }}">Appointments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/therapists">Therapist Directory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</div>