{% extends 'layout.html' %}

{% block title %}
    Appointments
{% endblock %}

{% block content %}

    <div class='page-header'>
        <h3>Appointments</h3>
    </div>
    
    <div class='page-content'>
    
        <div class='my-container'>
            <h3>Appointment Types</h3>
            
            <!-- Define forms outside of the table to be valid HTML -->
            {% for form in appointment_type_forms %}
                <form id="{{ form.id }}" action="{{ form.endpoint }}" novalidate>
                    {{ form.csrf_token }}
                </form>
            {% endfor %}
            
            <form id="{{ new_appointment_type_form.id }}" action="{{ new_appointment_type_form.endpoint }}" novalidate>
                {{ new_appointment_type_form.csrf_token }}
            </form>

            <table class="my-table">
            
                <!-- Loop through each appointment form in the list of appointment forms -->
                {% for form in appointment_type_forms %}
                    <tr>
                        <td>
                            <div class='form-floating'>
                                {{ form.therapy_type(class_='form-control form-select', placeholder=form.therapy_type.label.text, form=form.id, disabled=True) }}
                                {{ form.therapy_type.label }}
                            </div>
                        </td>

                        <td>
                            <div class='form-floating'>
                                {{ form.therapy_mode(class_='form-control form-select', placeholder=form.therapy_mode.label.text, form=form.id, disabled=True) }}
                                {{ form.therapy_mode.label }}
                            </div>
                        </td>
                            
                        <td>
                            <div class='form-floating'>
                                {{ form.duration(class_='form-control', placeholder=form.duration.label.text, form=form.id, disabled=True) }}
                                {{ form.duration.label }}
                            </div>
                        </td>

                        <td>
                            <div class='form-floating'>
                                {{ form.fee_amount(class_='form-control', placeholder=form.fee_amount.label.text, form=form.id, disabled=True) }}
                                {{ form.fee_amount.label }}
                            </div>
                        </td>

                        <td>
                            <div class='form-floating'>
                                {{ form.fee_currency(class_='form-control form-select', placeholder=form.fee_currency.label.text, form=form.id, disabled=True) }}
                                {{ form.fee_currency.label }}
                            </div>
                        </td>
                            
                        <td>
                            <div class="btn-container">
                                <button type="button" form="{{ form.id }}" onclick="enableFields(this)" class="btn btn-icon"
                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="my-tooltip" data-bs-title="Edit">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </button>

                                <span form="{{ form.id }}" data-bs-toggle="modal" data-bs-target="#deleteAppointmentTypeModal" class="hidden">
                                    <button type="button" form="{{ form.id }}" class="btn btn-icon" 
                                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="my-tooltip" title="Delete">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </span>
                                
                                <button type="submit" form="{{ form.id }}" class="btn btn-icon hidden"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="my-tooltip" data-bs-title="Save">
                                    <i class="fa-regular fa-square-check"></i>
                                </button>
                            </div>
                        </td>

                    </tr>
                {% endfor %}

                <!-- Form to create new appointment types -->
                <tr>
                    <td>
                        <div class='form-floating'>
                            {{ new_appointment_type_form.therapy_type(class_='form-control form-select', placeholder=new_appointment_type_form.therapy_type.label.text, form=new_appointment_type_form.id) }}
                            {{ new_appointment_type_form.therapy_type.label }}
                        </div>
                    </td>

                    <td>
                        <div class='form-floating'>
                            {{ new_appointment_type_form.therapy_mode(class_='form-control form-select', placeholder=new_appointment_type_form.therapy_mode.label.text, form=new_appointment_type_form.id) }}
                            {{ new_appointment_type_form.therapy_mode.label }}
                        </div>
                    </td>
                        
                    <td>
                        <div class='form-floating'>
                            {{ new_appointment_type_form.duration(class_='form-control', placeholder=new_appointment_type_form.duration.label.text, form=new_appointment_type_form.id) }}
                            {{ new_appointment_type_form.duration.label }}
                        </div>
                    </td>

                    <td>
                        <div class='form-floating'>
                            {{ new_appointment_type_form.fee_amount(class_='form-control', placeholder=new_appointment_type_form.fee_amount.label.text, form=new_appointment_type_form.id) }}
                            {{ new_appointment_type_form.fee_amount.label }}
                        </div>
                    </td>

                    <td>
                        <div class='form-floating'>
                            {{ new_appointment_type_form.fee_currency(class_='form-control form-select', placeholder=new_appointment_type_form.fee_currency.label.text, form=new_appointment_type_form.id) }}
                            {{ new_appointment_type_form.fee_currency.label }}
                        </div>
                    </td>
                        
                    <td>
                        <div class="btn-container">
                            <button type="submit" form="{{ new_appointment_type_form.id }}" class="btn btn-icon"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="my-tooltip" data-bs-title="Add">
                                <i class="fa-regular fa-square-plus"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>        
    </div>

    <!-- Modal to delete an appointment type -->
    <div class="modal fade" id="deleteAppointmentTypeModal" tabindex="-1" aria-labelledby="deleteAppointmentTypeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteAppointmentTypeModalLabel">Confirm deletion</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this appointment type?
                    <strong>Warning:</strong> this action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form id="{{ delete_appointment_type_form.id }}" action="{{ delete_appointment_type_form.endpoint }}" novalidate>
                        {{ delete_appointment_type_form.csrf_token }}
                        {{ delete_appointment_type_form.appointment_type_id }}
                        {{ delete_appointment_type_form.submit(class_='btn btn-danger') }}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
