{% extends 'layout.html' %}

{% block title %}
    Appointment with {{ appointment.other_user.full_name }}
{% endblock %}

{% block content %}
    
    <div class='container'>

        <div class='row mb-3 g-4'>
            <div class='col-lg-12'>
                <h3>{{ current_user.role.value }} Profile</h3>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="my-card">
                    
                    <!-- Appointment header -->
                    <div class="row mb-4 align-items-center">
                        <div class="col-auto">
                            <h3 class="mb-0">Appointment with {{ appointment.other_user.full_name }}</h3>
                        </div>
                        <div class="col-auto ms-auto">
                            <span class="tag tag-lg {{ appointment.appointment_status.name.lower() }}" >
                                {{ appointment.appointment_status.value }}
                            </span>
                        </div>
                    </div>
                        
                    <hr>
                    
                    <!-- Appointment details -->
                    <div class="row mb-3">
                        <div class="col-auto">
                            <h6 class="mt-2 mb-3">Appointment Details</h6>
                            <ul>
                                <li class="mb-2">Date and time: {{ appointment.time.strftime('%A, %d %b %Y at %I:%M %p') }} ({{ appointment.appointment_type.duration }} minutes)</li>
                                <li class="mb-2">Therapy type: {{ appointment.appointment_type.therapy_type.value }}</li>
                                <li class="mb-2">Mode: {{ appointment.appointment_type.therapy_mode.value }}</li>
                                <li class="mb-2">Fee: {{ appointment.appointment_type.fee_currency }}{{ appointment.appointment_type.fee_amount }}</li>
                                <li class="mb-2">Payment status: &nbsp;<span class="tag {{ appointment.payment_status.value.lower() }}">{{ appointment.payment_status.value }}</span></li>
                            </ul>
                        </div>
                    </div>

                    
                    <!-- Actions -->
                    <form id="{{ update_form.id }}" action="{{ update_form.endpoint }}" novalidate>
                        
                        {{ update_form.csrf_token }}
                        
                        <h6 class="mb-3">Update Appointment</h6>
                        
                        <div class="row g-2 mb-4 align-items-center">
                            <div class="col-md-5">
                                <div class='form-floating'>
                                    {{ update_form.action(class_='form-control form-select', placeholder=update_form.action.label.text, id='action') }}
                                    {{ update_form.action.label }}
                                </div>
                            </div>

                            <div class="col-md-3 datetime-field hidden">
                                <div class='form-floating'>
                                    {{ update_form.new_date(class_='form-control', placeholder=update_form.new_date.label.text) }}
                                    {{ update_form.new_date.label }}
                                </div>
                            </div>

                            <div class="col-md-2 datetime-field hidden">
                                <div class='form-floating'>
                                    {{ update_form.new_time(class_='form-control', placeholder=update_form.new_time.label.text) }}
                                    {{ update_form.new_time.label }}
                                </div>
                            </div>

                            <div class="col-md-2">
                                {{ submit_button(update_form.submit, id='submit-btn', disabled=True) }}
                            </div>

                        </div>
                    </form>

                    <hr>

                    {% if current_user.role == UserRole.THERAPIST %}
                        <!-- Notes -->
                        <form id="{{ notes_form.id }}" action="{{ notes_form.endpoint }}" novalidate>
                            
                            {{ notes_form.csrf_token }}
                            
                            <h6 class="mt-4 mb-3">Appointment Notes</h6>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class='form-floating'>
                                        {{ notes_form.text(class_='form-control', placeholder=notes_form.text.label.text, rows=20) }}
                                        {{ notes_form.text.label }}
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class='form-floating'>
                                        {{ notes_form.issues(class_='form-control form-select', multiple='multiple') }}
                                        {{ notes_form.issues.label }}
                                        <button type='button' class='input-btn-icon' id='togglePassword'
                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="my-tooltip" data-bs-title="Suggested from client's profile: {{ appointment.client.issues|join(', ', 'name') }}">
                                            <i class="fa-regular fa-lightbulb me-3"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3 g-2">
                                <div class="col-md-8">
                                    <div class='form-floating'>
                                        {{ notes_form.interventions(class_='form-control form-select', multiple='multiple') }}
                                        {{ notes_form.interventions.label }}
                                        <button type='button' class='input-btn-icon' id='togglePassword'
                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="my-tooltip" data-bs-title="Suggested from your profile: {{ appointment.therapist.interventions|join(', ', 'name') }}">
                                            <i class="fa-regular fa-lightbulb me-3"></i>
                                        </button>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class='form-floating'>
                                        {{ notes_form.efficacy(class_='form-control', placeholder=notes_form.efficacy.label.text) }}
                                        {{ notes_form.efficacy.label }}
                                        <button type='button' class='input-btn-icon' id='togglePassword'
                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="my-tooltip" data-bs-title="Rate the appointment's effectiveness, with 1 being ineffective and 5 being highly effective">
                                            <i class='fa-solid fa-circle-info'></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                {{ submit_button(notes_form.submit) }}
                            </div>

                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
