{% extends 'layout.html' %}

{% block title %}
    Appointments
{% endblock %}

{% block content %}

    <div class='page-header'>
        <h3>Appointments</h3>
    </div>
    
    <div class='page-content'>

        <!-- Appointment type deletion confirmation modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
    
        <div class='my-container'>
            <h3>Appointment Types</h3>
            
            <!-- Define forms outside of the table to be valid HTML -->
            {% for form in appointment_forms %}
                <form id="{{ form.id }}" action="{{ form.endpoint }}" novalidate>
                    {{ form.csrf_token }}
                </form>
            {% endfor %}
            
            <form id="{{ new_appointment_form.id }}" action="{{ new_appointment_form.endpoint }}" novalidate>
                {{ new_appointment_form.csrf_token }}
            </form>

            <table class="my-table">
            
                <!-- Loop through each appointment form in the list of appointment forms -->
                {% for form in appointment_forms %}
                    <tr>
                        <td>
                            <div class='form-floating'>
                                {{ form.therapy_type(class_='form-control form-select', placeholder=form.therapy_type.label.text, form=form.id, disabled=True) }}
                                {{ form.therapy_type.label }}
                            </div>
                        </td>

                        <td>
                            <div class='form-floating'>
                                {{ form.therapy_mode(class_='form-control form-select', placeholder=form.therapy_mode.label.text, form=form.id, disabled=True) }}
                                {{ form.therapy_mode.label }}
                            </div>
                        </td>
                            
                        <td>
                            <div class='form-floating'>
                                {{ form.duration(class_='form-control', placeholder=form.duration.label.text, form=form.id, disabled=True) }}
                                {{ form.duration.label }}
                            </div>
                        </td>

                        <td>
                            <div class='form-floating'>
                                {{ form.fee_amount(class_='form-control', placeholder=form.fee_amount.label.text, form=form.id, disabled=True) }}
                                {{ form.fee_amount.label }}
                            </div>
                        </td>

                        <td>
                            <div class='form-floating'>
                                {{ form.fee_currency(class_='form-control form-select', placeholder=form.fee_currency.label.text, form=form.id, disabled=True) }}
                                {{ form.fee_currency.label }}
                            </div>
                        </td>
                            
                        <td>
                            <div class="btn-container">
                                <button type="button" form="{{ form.id }}" onclick="enableFields(this)" class="btn btn-icon"
                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="my-tooltip" data-bs-title="Edit">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </button>

                                <button type="button" form="{{ form.id }}" class="btn btn-icon hidden"
                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="my-tooltip" data-bs-title="Delete"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                                
                                <button type="submit" form="{{ form.id }}" class="btn btn-icon hidden"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="my-tooltip" data-bs-title="Save">
                                    <i class="fa-regular fa-square-check"></i>
                                </button>
                            </div>
                        </td>

                    </tr>
                {% endfor %}

                <!-- Form to create new appointment types -->
                <tr>

                    <td>
                        <div class='form-floating'>
                            {{ new_appointment_form.therapy_type(class_='form-control form-select', placeholder=new_appointment_form.therapy_type.label.text, form=new_appointment_form.id) }}
                            {{ new_appointment_form.therapy_type.label }}
                        </div>
                    </td>

                    <td>
                        <div class='form-floating'>
                            {{ new_appointment_form.therapy_mode(class_='form-control form-select', placeholder=new_appointment_form.therapy_mode.label.text, form=new_appointment_form.id) }}
                            {{ new_appointment_form.therapy_mode.label }}
                        </div>
                    </td>
                        
                    <td>
                        <div class='form-floating'>
                            {{ new_appointment_form.duration(class_='form-control', placeholder=new_appointment_form.duration.label.text, form=new_appointment_form.id) }}
                            {{ new_appointment_form.duration.label }}
                        </div>
                    </td>

                    <td>
                        <div class='form-floating'>
                            {{ new_appointment_form.fee_amount(class_='form-control', placeholder=new_appointment_form.fee_amount.label.text, form=new_appointment_form.id) }}
                            {{ new_appointment_form.fee_amount.label }}
                        </div>
                    </td>

                    <td>
                        <div class='form-floating'>
                            {{ new_appointment_form.fee_currency(class_='form-control form-select', placeholder=new_appointment_form.fee_currency.label.text, form=new_appointment_form.id) }}
                            {{ new_appointment_form.fee_currency.label }}
                        </div>
                    </td>
                        
                    <td>
                        <div class="btn-container">
                            <button type="submit" form="{{ new_appointment_form.id }}" class="btn btn-icon"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="my-tooltip" data-bs-title="Add">
                                <i class="fa-regular fa-square-plus"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>        
    </div>
{% endblock %}
