{% extends 'layout.html' %}

{% block title %}
    Appointment with {{ appointment.other_user.full_name }}
{% endblock %}

{% block content %}
    
    <div class='container'>

        <div class='row mb-4 g-4 align-items-center'>
            <div class='col-auto'>
                <h4 class="mb-0">Appointment with {{ appointment.other_user.full_name }}<span class="my-muted">&nbsp;&nbsp;/&nbsp;&nbsp;{{ appointment.time.strftime('%-d %B %Y') }}</span></h4>
            </div>
            <div class="col-auto ms-auto">
                <div class="row">
                    <div class="col-auto">
                        <a href="{{ url_for('appointments.index') }} ">
                            <i class="fa-solid fa-chevron-left"></i>
                            All appointments
                        </a>
                    </div>
                    <div class="col-auto">
                        <div id="status-tag">{{ tag(label=appointment.appointment_status.value, status=appointment.appointment_status.name, with_icon=True, additional_class='tag-lg') }}</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row g-4">
            
            <div class="col-lg-3">
                <div class="my-card p-4">
                    
                    <ul class="list-group list-group-flush" id="section-selector">
                    
                        <li class="list-group-item list-group-item-action active" data-target="#details-section">
                            <div class="row align-items-center">
                                <div class="col-auto">Appointment Details</div>
                            </div>
                        </li>
                    
                        
                        {% if current_user.role == UserRole.THERAPIST %}
                            <li class="list-group-item list-group-item-action" data-target="#notes-section">
                                <div class="row align-items-center">
                                    <div class="col-auto">Appointment Notes</div>
                                    <div class="col-auto ms-auto">
                                        <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="my-tooltip" data-bs-title="Therapist-only access">
                                            {{ tag(status='restricted', with_icon=True, additional_class='tag-sm') }}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    
                        <li class="list-group-item list-group-item-action rounded-bottom" data-target="#exercise-section">
                            <div class="row align-items-center">
                                <div class="col-auto">Therapy Exercise</div>
                                <div class="col-auto ms-auto">
                                    {% if appointment.exercise %}
                                        {% set status = 'Completed' if appointment.exercise.completed else 'Incomplete' %}
                                    {% else %}
                                        {% set status = 'not_set' %}
                                    {% endif %}
                                    <div id="completion-tag-sm"
                                    data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="my-tooltip" data-bs-title="{{ status }}">
                                        {{ tag(status=status, with_icon=True, additional_class='tag-sm') }}
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-9">
                <div class="my-card">
                    
                    <!-- Appointment details section-->
                    <div id="details-section" class="section">
                        <div class="row mb-3">
                            <div class="col-auto">
                                
                                <div class="row mb-4 align-items-center">
                                    <div class="col-auto">
                                        <h5 class="mb-0">Appointment Details</h5>
                                    </div>
                                </div>

                                <ul>
                                    <li class="mb-3">
                                        {% if current_user.role == UserRole.THERAPIST %}
                                            Client: <a href="#TODO">{{ appointment.other_user.full_name }}</a>
                                        {% else %}
                                            Therapist: <a href="{{ url_for('therapists.therapist', therapist_id=appointment.therapist.id) }}">{{ appointment.other_user.full_name }}</a>
                                        {% endif %}
                                    </li>
                                    <li class="mb-3">Date and time: {{ appointment.time.strftime('%A, %-d/%-m/%Y – %I:%M %p') }}</li>
                                    <li class="mb-3">Therapy type: {{ tag(label=appointment.appointment_type.therapy_type.value, status=appointment.appointment_type.therapy_type.name, with_icon=True) }}</li>
                                    <li class="mb-3">Mode: {{ tag(label=appointment.appointment_type.therapy_mode.value, status=appointment.appointment_type.therapy_mode.name, with_icon=True) }}</li>
                                    <li class="mb-3">Duration: {{ appointment.appointment_type.duration }} minutes</li>
                                    <li class="mb-3">Fee: {{ appointment.appointment_type.fee_currency }}{{ appointment.appointment_type.fee_amount }}</li>
                                    <li class="mb-3">Payment: {{ tag(label=appointment.payment_status.value, status=appointment.payment_status.name, with_icon=True) }}</li>
                                </ul>

                            </div>
                        </div>
                    
                        <form id="{{ update_form.id }}" action="{{ update_form.endpoint }}" novalidate>
                            
                            {{ update_form.csrf_token }}
                            
                            <div class="row mb-3 align-items-center">
                                <div class="col-auto">
                                    <h6 class="mb-0">Update Appointment</h6>
                                </div>
                            </div>
                            
                            <div class="row g-2 mb-4 align-items-center">
                                <div class="col-md-4">
                                    <div class='form-floating'>
                                        {{ update_form.action(class_='form-control', placeholder=update_form.action.label.text, id='action') }}
                                        {{ update_form.action.label }}
                                    </div>
                                </div>

                                <div class="col-md-3 datetime-field hidden">
                                    <div class='form-floating'>
                                        {{ update_form.new_date(class_='form-control', placeholder=update_form.new_date.label.text) }}
                                        {{ update_form.new_date.label }}
                                    </div>
                                </div>

                                <div class="col-md-3 datetime-field hidden">
                                    <div class='form-floating'>
                                        {{ update_form.new_time(class_='form-control', placeholder=update_form.new_time.label.text) }}
                                        {{ update_form.new_time.label }}
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    {{ submit_button(update_form.submit, id='submit-btn', disabled=True) }}
                                </div>

                            </div>
                        </form>
                    </div>

                    <!-- Notes section -->
                    {% if current_user.role == UserRole.THERAPIST %}
                        <div id="notes-section" class="section" style="display:none;">
                            <form id="{{ notes_form.id }}" action="{{ notes_form.endpoint }}" novalidate>
                                
                                {{ notes_form.csrf_token }}
                                
                                <div class="row mb-4 align-items-center">
                                    <div class="col-auto">
                                        <h5 class="mb-0">Appointment Notes</h5>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class='form-floating'>
                                            {{ notes_form.text(class_='form-control', placeholder=notes_form.text.label.text) }}
                                            {{ notes_form.text.label }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class='form-floating'>
                                            {{ notes_form.issues(class_='form-control') }}
                                            {{ notes_form.issues.label }}
                                            <button type='button' class='input-btn-icon' id='togglePassword'
                                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="my-tooltip" data-bs-title="Suggested from client's profile: {{ appointment.client.issues|join(', ', 'name') }}">
                                                <i class="fa-regular fa-lightbulb me-3"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3 g-2">
                                    <div class="col-md-8">
                                        <div class='form-floating'>
                                            {{ notes_form.interventions(class_='form-control') }}
                                            {{ notes_form.interventions.label }}
                                            <button type='button' class='input-btn-icon' id='togglePassword'
                                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="my-tooltip" data-bs-title="Suggested from your profile: {{ appointment.therapist.interventions|join(', ', 'name') }}">
                                                <i class="fa-regular fa-lightbulb me-3"></i>
                                            </button>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <div class='form-floating'>
                                            {{ notes_form.efficacy(class_='form-control', placeholder=notes_form.efficacy.label.text) }}
                                            {{ notes_form.efficacy.label }}
                                            <button type='button' class='input-btn-icon' id='togglePassword'
                                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="my-tooltip" data-bs-title="Rate the appointment's effectiveness, with 1 being ineffective and 5 being highly effective">
                                                <i class='fa-solid fa-circle-info'></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    {{ submit_button(notes_form.submit) }}
                                </div>

                            </form>
                        </div>
                    {% endif %}

                    <!-- Therapy Exercise -->
                    <div id="exercise-section" class="section" style="display:none;">
                        <form id="{{ exercise_form.id }}" action="{{ exercise_form.endpoint }}" novalidate>
                                
                            {{ exercise_form.csrf_token }}
                            
                            <div class="row mb-4 align-items-center">
                                <div class="col-auto">
                                    <h5 class="mb-0">Therapy Exercise</h5>
                                </div>
                                <div class="col-auto ms-auto">
                                    {% if appointment.exercise %}
                                        {% set label = 'Completed' if appointment.exercise.completed else 'Incomplete' %}
                                        {% set status = label %}
                                    {% else %}
                                        {% set label = 'Not set' %}
                                        {% set status = 'not_set' %}
                                    {% endif %}
                                    <div id="completion-tag">{{ tag(label=label, status=status, with_icon=True) }}</div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class='form-floating'>
                                        {{ exercise_form.title(class_='form-control', placeholder=exercise_form.title.label.text) }}
                                        {{ exercise_form.title.label }}
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class='form-floating'>
                                        {{ exercise_form.description(class_='form-control', placeholder=exercise_form.description.label.text) }}
                                        {{ exercise_form.description.label }}
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class='form-floating'>
                                        {{ exercise_form.client_response(class_='form-control', placeholder=exercise_form.client_response.label.text) }}
                                        {{ exercise_form.client_response.label }}
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="form-check form-switch">
                                        {{ exercise_form.completed(class_='form-check-input') }}
                                        {{ exercise_form.completed.label(class_='form-check-label') }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                {{ submit_button(exercise_form.submit) }}
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
