{% extends 'layout.html' %}

{% block title %}
    Book Appointment
{% endblock %}

{% block content %}
    
    <div class='container'>

        <div class='row mb-3 g-4'>
            <div class='col-lg-12'>
                <h4>Book Appointment</h3>
            </div>
        </div>

        <form id="{{ form.id }}" action="{{ form.endpoint }}" enctype="multipart/form-data" novalidate>

            {{ form.csrf_token }}            
            
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <div class="my-card">
                        <div class="row mb-3">
                            <div class="col-2">
                                <img src="{{ url_for('static', filename='img/profile_pictures/' + therapist.user.profile_picture) }}" class="profile-picture" alt="Profile picture of {{ therapist.user.full_name }}">
                            </div>
                            <div class="col-10 ps-4">
                                <h5>{{ therapist.user.full_name }}</h5>
                                <span class="my-muted">{{ therapist.qualifications }}</span>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class='form-floating'>
                                    {{ form.appointment_type(class_='form-control', placeholder=form.appointment_type.label.text) }}
                                    {{ form.appointment_type.label }}
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3 g-2">
                            <div class="col-md-6">
                                <div class='form-floating'>
                                    {{ form.date(class_='form-control', placeholder=form.date.label.text) }}
                                    {{ form.date.label }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class='form-floating'>
                                    {{ form.time(class_='form-control', placeholder=form.time.label.text) }}
                                    {{ form.time.label }}
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                {{ submit_button(form.submit) }}
                            </div>
                        </div>                        

                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
