{% extends 'layout.html' %}

{% block title %}
    Clients
{% endblock %}

{% block content %}

    <div class='container'>
        
        <div class='row mb-3 g-4'>
            <div class='col-lg-12'>
                <h4>Client Directory</h4>
            </div>
        </div>
        
        <div class="row g-4 mb-4">
            <div class='col-lg-12'>
                <div class='my-card'>
                    
                    <h5 class="row mb-3">
                        <div class="col-12">
                            Client Finder
                        </div>
                    </h5>

                    <form id="{{ filter_form.id }}" action="{{ filter_form.endpoint }}" novalidate>
                                    
                        {{ filter_form.csrf_token }}

                        <div class="accordion accordion-flush" id="filterAccordion">

                            <!-- Personal details -->
                            <div class="accordion-item row">
                                <div class="col-12">
                        
                                    <div class="accordion-header row">
                                        <div class="col-12">
                                            <h6 class="mb-0">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#personalDetailsCollapse" aria-expanded="false" aria-controls="personalDetailsCollapse">
                                                By personal details
                                                </button>
                                            </h6>
                                        </div>
                                    </div>
        
                                    <div id="personalDetailsCollapse" class="accordion-collapse collapse text-s">

                                        <div class="accordion-body">
                                        
                                            <div class="row g-2 mb-2">
                                                <div class="col-lg-auto">
                                                    <div class="form-floating">
                                                        {{ filter_form.name(class_='form-control', placeholder=filter_form.name.label.text) }}
                                                        {{ filter_form.name.label }}
                                                    </div>
                                                </div>
            
                                                <div class="col-lg-auto">
                                                    <div class="form-floating">
                                                        {{ filter_form.gender(class_='form-control', placeholder=filter_form.gender.label.text) }}
                                                        {{ filter_form.gender.label }}
                                                    </div>
                                                </div>
                
                                                <div class="col-lg-auto">
                                                    <div class='form-floating'>
                                                        {{ filter_form.min_age(class_='form-control', placeholder=filter_form.min_age.label.text) }}
                                                        {{ filter_form.min_age.label }}
                                                    </div>
                                                </div>

                                                <div class="col-lg-auto">
                                                    <div class='form-floating'>
                                                        {{ filter_form.max_age(class_='form-control', placeholder=filter_form.max_age.label.text) }}
                                                        {{ filter_form.max_age.label }}
                                                    </div>
                                                </div>

                                                <div class="col-lg-auto">
                                                    <div class='form-floating'>
                                                        {{ filter_form.occupation(class_='form-control', placeholder=filter_form.occupation.label.text) }}
                                                        {{ filter_form.occupation.label }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Background -->
                            <div class="accordion-item row">
                                <div class="col-12">
                        
                                    <div class="accordion-header row">
                                        <div class="col-12">
                                            <h6 class="mb-0">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#backgroundCollapse" aria-expanded="false" aria-controls="backgroundCollapse">
                                                By background
                                                </button>
                                            </h6>
                                        </div>
                                    </div>
        
                                    <div id="backgroundCollapse" class="accordion-collapse collapse text-s">

                                        <div class="accordion-body">
                                        
                                            <div class="row g-2 mb-2">

                                                <div class="col-lg-auto">
                                                    <div class="form-floating">
                                                        {{ filter_form.issues(class_='form-control', placeholder=filter_form.issues.label.text) }}
                                                        {{ filter_form.issues.label }}
                                                    </div>
                                                </div>
            
                                                <div class="col-lg-auto">
                                                    <div class="form-floating">
                                                        {{ filter_form.referral_source(class_='form-control', placeholder=filter_form.referral_source.label.text) }}
                                                        {{ filter_form.referral_source.label }}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                    
                        <div class="row mt-2 g-2">
                            <div class="col-auto">
                                {{ submit_button(filter_form.submit_filter, extra_class='w-auto') }}
                            </div>
                            <div class="col-auto">
                                {{ submit_button(filter_form.submit_reset_filters, class='btn btn-secondary', extra_class='w-auto') }}
                            </div>
                        </div>
                    </form>

                    <div class="row mt-4">
                        <div class="col-auto my-muted" id="filter-count">
                            {{ clients|length if clients else 0}} clients found
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="client-cards" class="row g-4">
            {{ client_cards(clients) }}
        </div>

    </div>

{% endblock %}
