{% extends 'layout.html' %}

{% block title %}
    Error {{ error.code }}
{% endblock %}

{% block content %}

<div class='container'>
    <div class="row">
        <div class="col-lg-6 mx-auto">
            
            <div class='my-card'>
            
                {% if is_http_exception %}
                    <h4 class="mb-3">{{ error.code }} {{ error.name }}</h4>
                    <p class="mb-2">{{ error.description }}</p>
                {% else %}
                    <h4 class="mb-3">Error</h4>
                    <p class="mb-2">Sorry, it looks like something went wrong.</p>
                {% endif %}
                <p class='my-muted text-s'>Need help? <a href='/contact'>Contact us</a></p>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
