{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <div id='home-page'>
        <div class='home-body'>
            
            <div class="home-text">
                <div class="mb-3">
                    <h1 class="mb-0">Welcome to <strong>mindli</strong></h1>
                </div>
                <div class="mb-4">
                    Redesigning therapy for today's needs, promoting mental health and well-being on a truly global scale.</p>
                </div>
                <div id="home-buttons" class="row mb-3 g-2">
                    <div class="col-lg-6">
                        <a href='/therapists' class='btn btn-outline-primary w-auto'>Find a Therapist</a>
                    </div>
                    <div class="col-lg-6">
                        <a href='/register' class='btn btn-outline-secondary w-auto'>Register as a Practioner</a>
                    </div>
                </div>
            </div>
        </div>      
    </div>
        
{% endblock %}
