{% extends 'layout.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}

    <div class='my-container'>
        <h3>Reset password</h3>
        <p>Please enter the email address associated with your account</p>
        <form id='initiate-password-reset-form' novalidate>
            {{ form.hidden_tag() }}
            <div class='form-floating'>
                {{ form.email(class_='form-control', placeholder=form.email.label.text) }}
                {{ form.email.label }}
            </div>
            <button type='submit' class='btn btn-primary'>
                <span class='btn-text'>Reset Password</span>
                <span class='spinner-border spinner-border-sm' role='status' aria-hidden='true' style='display: none;'></span>
                <span class='visually-hidden'>Loading...</span>
            </button>
        </form>
    </div>

{% endblock %}
