{% extends 'layout.html' %}

{% block title %}
    Messages
{% endblock %}

{% block content %}

    <div class='container'>
        
        <div class='row mb-3 g-4'>
            <div class='col-lg-12'>
                <h3>Messages</h3>
            </div>
        </div>
    
        <div class="row g-4">

            <div class='col-lg-4'>
                
                <div class='my-card'>
                    <div class="row mb-4 align-items-center">
                        <div class="col-auto">
                            <h5 class="mb-0">Recent Conversations</h5>
                        </div>
                    </div>
                    {% if conversations %}
                        {% for conversation in conversations %}
                            <div class="row mb-3 {% if conversation.id == opened_conversation.id %}selected-conversation{% endif %}">
                                <a href="{{ url_for('messages.messages', conversation_id=conversation.id) }}">
                                    <div class="col-2">
                                        <img src="{{ url_for('static', filename='img/profile_pictures/' + conversation.other_user.profile_picture) }}" class="profile-pic" alt="Profile picture of {{ conversation.other_user.full_name }}">
                                    </div>
                                    <div class="col-10 ps-4">
                                        <h6>{{ conversation.other_user.full_name }}</h6>
                                        <div class="row mb-3">
                                            {% if conversation.messages %}
                                                <div class="col-auto">
                                                    <span class="text-muted">{{ conversation.latest_message_content | truncate(30, '...') }}</span>
                                                </div>
                                                <div class="col text-end">
                                                    <span class="text-muted">{{ conversation.time_since_latest_message }}</span>
                                                </div>
                                            {% else %}
                                                <p>No messages yet</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <hr>
                        {% endfor %}
                    {% else %}
                        NO CONVERSATIONS FOUND
                    {% endif %}
                </div>
            </div>
            
            <div class='col-lg-8'>
                <div class='my-card d-flex flex-column clearfix'>
                    
                    <!-- Message header -->
                    <div class="row mb-3 align-items-center">
                        <div class="col-auto">
                            <img src="{{ url_for('static', filename='img/profile_pictures/' + opened_conversation.other_user.profile_picture) }}" class="profile-pic" alt="Profile picture of {{ opened_conversation.other_user.full_name }}">
                        </div>
                        <div class="col-auto">
                            <h5>{{ opened_conversation.other_user.full_name }}</h5>
                        </div>
                        {% if current_user.role == UserRole.CLIENT %}
                            <div class="col-auto ms-auto">
                                <a href="{{ url_for('appointments.view_book_appointment', therapist_id=opened_conversation.other_user.therapist.id) }}" class="btn btn-outline-primary">
                                    Book Appointment
                                </a>
                            </div>
                        {% endif %}
                    </div>

                    <hr>
                    
                    <!-- Messages container -->
                    <div class="messages-container flex-grow-1 overflow-auto mb-3">
                        {% if opened_conversation.messages %}
                            {% for message in opened_conversation.messages %}
                            <div class="message p-2 mb-1 {% if message.author_id == current_user.id %}from_current_user{% else %}from_other_user{% endif %}"
                                data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="my-tooltip" data-bs-title="{{ message.timestamp.strftime('%a %d %B %Y, %H:%M') }}">
                                {{ message.content }}
                            </div>
                            {% endfor %}
                        {% else %}
                            NO MESSAGES
                        {% endif %}
                    </div>

                    <!-- Message input field -->
                    <div class="row mt-auto">
                        <div class="col-12">
                            <form id="{{ form.id }}" action="{{ form.endpoint }}" novalidate>
                                {{ form.csrf_token }}
                                {{ form.conversation_id() }}
                                <div class='form-floating'>
                                    {{ form.message(class_='form-control', placeholder=form.message.label.text) }}
                                    {{ form.message.label }}
                                    <button type='submit' class='input-btn-icon'>
                                        <i class="fa-regular fa-paper-plane"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        
        </div>
    </div>
{% endblock %}
