{% extends 'layout.html' %}

{% block title %}
    Messages
{% endblock %}

{% block content %}

    <div class='container'>
        
        <div class='row mb-3 g-4'>
            <div class='col-lg-12'>
                <h3>Messages</h3>
            </div>
        </div>
    
        <div class="row g-4">

            <div class='col-lg-4'>
                
                <div class='my-card'>
                    <h3>Recent conversations</h3>
                    {% for conversation in conversations %}
                        <p>{{ conversation.other_user_full_name }}</p>
                        <p>{{ conversation.latest_message }}</p>
                        <br>
                    {% endfor %}
                </div>
            </div>
            
            <div class='col-lg-8'>
                <div class='my-card'>
                </div>
            </div>
        
        </div>
    </div>
{% endblock %}
