<nav class='navbar navbar-expand-lg'>
    <div class='container-fluid'>
        <a class='navbar-brand' href='/'>
            mindli
        </a>
        <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarText'>
            <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
                <li class='nav-item'>
                    <a class='nav-link' href='/'>Home</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/membership'>Membership</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/events'>Events</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/gallery'>Gallery</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/news'>News</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/team'>Our Team</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/contact'>Contact Us</a>
                </li>
            </ul>
            <ul class='navbar-nav mb-auto me-2 mb-lg-0'>
                {% if current_user.is_authenticated %}
                    <li class='nav-item'>
                        <a class='nav-link' href='/settings'>Settings</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='/logout'>Log out</a>
                    </li>
                {% else %}
                    <li class='nav-item'>
                        <a class='nav-link' href='/login'>Log In</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='/register'>Get Started</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
