{% extends 'layout.html' %}

{% block title %}
    Get Started
{% endblock %}

{% block content %}

    <div class='my-container centered'>
        <h3>Create account</h3>
        <p>Have an account? <a href='/login'>Sign in</a></p>

        <form id="{{ form.id }}" action="{{ form.endpoint }}" novalidate>
        
            {{ form.csrf_token }}

            <div class='radio-group' id='role'>
                {% for role in form.role %}
                    <input type='radio' class='btn-check' id='{{ role.id }}' name='{{ role.name }}' value='{{ role._value() }}' autocomplete='off'>
                    <label class='btn btn-outline-primary' for='{{ role.id }}'>
                        <i class='fa-solid fa-check'></i>
                        {{ role.label.text }}
                    </label>
                {% endfor %}
            </div>

            <div class='form-floating'>
                {{ form.first_name(class_='form-control', placeholder=form.first_name.label.text) }}
                {{ form.first_name.label }}
            </div>

            <div class='form-floating'>
                {{ form.last_name(class_='form-control', placeholder=form.last_name.label.text) }}
                {{ form.last_name.label }}
            </div>

            <div class='form-floating'>
                {{ form.email(class_='form-control', placeholder=form.email.label.text) }}
                {{ form.email.label }}
            </div>

            <div class='form-floating'>
                {{ form.password(class_='form-control', placeholder=form.password.label.text) }}
                {{ form.password.label }}
                <button type='button' id='togglePassword'>
                    <i class='fa-solid fa-eye'></i>
                </button>
            </div>

            <div class='description'>
                Password requirements:
                <ul>
                    <li>At least 8 characters</li>
                    <li>1 uppercase letter (A-Z)</li>
                    <li>1 lowercase letter (a-z)</li>
                    <li>1 number (0-9)</li>
                </ul>
            </div>

            {{ submit_button(form.submit) }}

        </form>
    </div>

{% endblock %}
