{% extends 'layout.html' %}

{% block title %}
    Get Started
{% endblock %}

{% block content %}

    <div class='my-container'>
        <h3>Create account</h3>
        <p>Have an account? <a href='/login'>Sign in</a></p>

        <form id='register-form' novalidate>
        
            {{ form.hidden_tag() }}

            <div class='radio-group' id='role'>
                {% for subfield in form.role %}
                    <input type='radio' class='btn-check' id='{{ subfield.id }}' name='{{ subfield.name }}' value='{{ subfield._value() }}' autocomplete='off'>
                    <label class='btn btn-outline-primary' for='{{ subfield.id }}'>
                        <i class='fa-solid fa-check'></i>
                        {{ subfield.label.text }}
                    </label>
                {% endfor %}
            </div>

            <div class='form-floating'>
                {{ form.first_name(class_='form-control', placeholder=form.email.label.text) }}
                {{ form.first_name.label }}
            </div>

            <div class='form-floating'>
                {{ form.last_name(class_='form-control', placeholder=form.email.label.text) }}
                {{ form.last_name.label }}
            </div>

            <div class='form-floating'>
                {{ form.email(class_='form-control', placeholder=form.email.label.text) }}
                {{ form.email.label }}
            </div>

            <div class='form-floating'>
                {{ form.password(class_='form-control', placeholder=form.password.label.text) }}
                {{ form.password.label }}
                <button type='button' id='togglePassword'>
                    <i class='fa-solid fa-eye'></i>
                </button>
            </div>

            <div class='description'>
                Password requirements:
                <ul>
                    <li>At least 8 characters</li>
                    <li>1 uppercase letter (A-Z)</li>
                    <li>1 lowercase letter (a-z)</li>
                    <li>1 number (0-9)</li>
                </ul>
            </div>

            <button type='submit' class='btn btn-primary'>
                <span class='btn-text'>Register</span>
                <span class='spinner-border spinner-border-sm' role='status' aria-hidden='true' style='display: none;'></span>
                <span class='visually-hidden'>Loading...</span>
            </button>

        </form>
    </div>

{% endblock %}
