{% extends 'layout.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}

    <div class='container'>
        <div class="row">
            <div class="col-lg-6 mx-auto">
            
                <div class='my-card'>
            
                    <h3>Reset password</h3>
                    <p>Please enter the email address associated with your account</p>
                    
                    <form id="{{ form.id }}" action="{{ form.endpoint }}" novalidate>
                    
                        {{ form.csrf_token }}
                    
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class='form-floating'>
                                    {{ form.email(class_='form-control', placeholder=form.email.label.text) }}
                                    {{ form.email.label }}
                                </div>
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-12">
                                {{ submit_button(form.submit) }}
                            </div>
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>    

{% endblock %}
