{% extends 'layout.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}

    <div class='my-container'>
        <h3>Profile TODO</h3>
        <p>TODO</p>
        <form id='therapist-profile-form' novalidate>
            
            {{ form.csrf_token }}
            
            <div class='form-floating'>

            </div>
            
            <button type='submit' class='btn btn-primary'>
                <span class='btn-text'>Continue</span>
                <span class='spinner-border spinner-border-sm' role='status' aria-hidden='true' style='display: none;'></span>
                <span class='visually-hidden'>Loading...</span>
            </button>
        
        </form>
    </div>

{% endblock %}
