{% extends 'layout.html' %}

{% block title %}
    Therapist Directory
{% endblock %}

{% block content %}

    <div class='page-header'>
        <h3>Therapist Directory</h3>
    </div>
    
    <div class='page-content'>
    
        <div class='my-container'>
            <h3>Find a therapist</h3>

            <form id="{{ filter_form.id }}" action="{{ filter_form.endpoint }}" novalidate>
                
                <div class="row g-3">
                
                    {{ filter_form.csrf_token }}

                    <div class="col-lg-auto">
                        <div class='form-floating'>
                            {{ filter_form.therapy_type(class_='form-control form-select', placeholder=filter_form.therapy_type.label.text) }}
                            {{ filter_form.therapy_type.label }}
                        </div>
                    </div>


                    <div class="col-lg-auto">
                        <div class='form-floating'>
                            {{ filter_form.therapy_mode(class_='form-control form-select', placeholder=filter_form.therapy_mode.label.text, multiple='multiple') }}
                            {{ filter_form.therapy_mode.label }}
                        </div>
                    </div>

                    <div class="col-lg-auto">
                        <div class='form-floating'>
                            {{ filter_form.duration(class_='form-control', placeholder=filter_form.duration.label.text) }}
                            {{ filter_form.duration.label }}
                        </div>
                    </div>
                    
                    <div class="col-lg-auto">
                        <div class='form-floating'>
                            {{ filter_form.titles(class_='form-control form-select', multiple='multiple') }}
                            {{ filter_form.titles.label }}
                        </div>
                    </div>

                    <div class="col-lg-auto">
                        <div class='form-floating'>
                            {{ filter_form.years_of_experience(class_='form-control', placeholder=filter_form.years_of_experience.label.text) }}
                            {{ filter_form.years_of_experience.label }}
                        </div>
                    </div>
                    
                    <div class="col-lg-auto">
                        <div class='form-floating'>
                            {{ filter_form.gender(class_='form-control form-select', placeholder=filter_form.gender.label.text) }}
                            {{ filter_form.gender.label }}
                        </div>
                    </div>
                    
                    <div class="col-lg-auto">
                        <div class='form-floating'>
                            {{ filter_form.language(class_='form-control form-select', placeholder=filter_form.language.label.text) }}
                            {{ filter_form.language.label }}
                        </div>
                    </div>

                    <div class="col-lg-auto">
                        <div class='form-floating'>
                            {{ filter_form.country(class_='form-control form-select', placeholder=filter_form.country.label.text) }}
                            {{ filter_form.country.label }}
                        </div>
                    </div>
                    
                    <div class="col-lg-auto">
                        <div class='form-floating'>
                            {{ filter_form.specialisations(class_='form-control form-select', multiple='multiple') }}
                            {{ filter_form.specialisations.label }}
                        </div>
                    </div>

                    <div class="col-lg-auto">
                        <div class='form-floating'>
                            {{ filter_form.interventions(class_='form-control form-select', multiple='multiple') }}
                            {{ filter_form.interventions.label }}
                        </div>
                    </div>

                    <div class="col-lg-auto">
                        {{ submit_button(filter_form.submit) }}
                    </div>

                </div>
            </form>
        </div>

        {% for therapist in therapists %}
            <!-- Therapist Card -->
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{ therapist.user.first_name }} {{ therapist.user.last_name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ therapist.specialisations|join(', ', 'name') }}</h6>
                <p class="card-text">Years of Experience: {{ therapist.years_of_experience }}</p>
                <!-- Button to Open Modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#therapistModal{{ therapist.id }}">
                    View More
                </button>
                </div>
            </div>
        {% endfor %}
    </div>           

{% endblock %}
