{% extends 'layout.html' %}

{% block title %}
    Therapists
{% endblock %}

{% block content %}

    <div class='container'>
        
        <div class='row mb-3 g-4'>
            <div class='col-lg-12'>
                <h4>Therapist Directory</h4>
            </div>
        </div>
        
        <div class="row g-4 mb-4">
            <div class='col-lg-12'>
                <div class='my-card'>
                    
                    <h5 class="row mb-3">
                        <div class="col-12">
                            Therapist Finder
                        </div>
                    </h5>

                    <form id="{{ filter_form.id }}" action="{{ filter_form.endpoint }}" novalidate>
                                    
                        {{ filter_form.csrf_token }}

                        <div class="accordion accordion-flush" id="filterAccordion">

                            <!-- Personal details -->
                            <div class="accordion-item row">
                                <div class="col-12">

                                    <div class="accordion-header row">
                                        <div class="col-12">
                                            <h6 class="mb-0">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#personalDetailsCollapse" aria-expanded="false" aria-controls="personalDetailsCollapse">
                                                By personal details
                                                </button>
                                            </h6>
                                        </div>
                                    </div>

                                    <div id="personalDetailsCollapse" class="accordion-collapse collapse text-s">

                                        <div class="accordion-body">

                                            <div class="row g-2 mb-3">
                                                            
                                                <div class="col-lg-auto">
                                                    <div class='form-floating'>
                                                        {{ filter_form.name(class_='form-control', placeholder=filter_form.name.label.text) }}
                                                        {{ filter_form.name.label }}
                                                    </div>
                                                </div>
                                                            
                                                <div class="col-lg-auto">
                                                    <div class='form-floating'>
                                                        {{ filter_form.gender(class_='form-control', placeholder=filter_form.gender.label.text) }}
                                                        {{ filter_form.gender.label }}
                                                    </div>
                                                </div>
                                                            
                                                <div class="col-lg-auto">
                                                    <div class='form-floating'>
                                                        {{ filter_form.country(class_='form-control', placeholder=filter_form.country.label.text) }}
                                                        {{ filter_form.country.label }}
                                                    </div>
                                                </div>
                                                            
                                                <div class="col-lg-auto">
                                                    <div class='form-floating'>
                                                        {{ filter_form.language(class_='form-control', placeholder=filter_form.language.label.text) }}
                                                        {{ filter_form.language.label }}
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Professional experience -->
                            <div class="accordion-item row">
                                <div class="col-12">

                                    <div class="accordion-header row">
                                        <div class="col-12">
                                            <h6 class="mb-0">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#professionalCollapse" aria-expanded="false" aria-controls="professionalCollapse">
                                                By professional experience
                                                </button>
                                            </h6>
                                        </div>
                                    </div>

                                    <div id="professionalCollapse" class="accordion-collapse collapse text-s">

                                        <div class="accordion-body">

                                            <div class="row g-2 mb-3">
                                                            
                                                <div class="col-lg-auto">
                                                    <div class='form-floating'>
                                                        {{ filter_form.titles(class_='form-control', placeholder=filter_form.titles.label.text) }}
                                                        {{ filter_form.titles.label }}
                                                    </div>
                                                </div>

                                                <div class="col-lg-auto">
                                                    <div class='form-floating'>
                                                        {{ filter_form.years_of_experience(class_='form-control', placeholder=filter_form.years_of_experience.label.text) }}
                                                        {{ filter_form.years_of_experience.label }}
                                                    </div>
                                                </div>
                                                            
                                                <div class="col-lg-auto">
                                                    <div class='form-floating'>
                                                        {{ filter_form.specialisations(class_='form-control', placeholder=filter_form.specialisations.label.text) }}
                                                        {{ filter_form.specialisations.label }}
                                                    </div>
                                                </div>

                                                <div class="col-lg-auto">
                                                    <div class='form-floating'>
                                                        {{ filter_form.interventions(class_='form-control', placeholder=filter_form.interventions.label.text) }}
                                                        {{ filter_form.interventions.label }}
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Appointments -->
                            <div class="accordion-item row">
                                <div class="col-12">

                                    <div class="accordion-header row">
                                        <div class="col-12">
                                            <h6 class="mb-0">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#appointmentsCollapse" aria-expanded="false" aria-controls="appointmentsCollapse">
                                                By appointment type
                                                </button>
                                            </h6>
                                        </div>
                                    </div>
                                    

                                    <div id="appointmentsCollapse" class="accordion-collapse collapse text-s">

                                        <div class="accordion-body">

                                            <div class="row g-2 mb-3">
                                                            
                                                <div class="col-lg-auto">
                                                    <div class='form-floating'>
                                                        {{ filter_form.therapy_type(class_='form-control', placeholder=filter_form.therapy_type.label.text) }}
                                                        {{ filter_form.therapy_type.label }}
                                                    </div>
                                                </div>
                                                            
                                                <div class="col-lg-auto">
                                                    <div class='form-floating'>
                                                        {{ filter_form.therapy_mode(class_='form-control', placeholder=filter_form.therapy_mode.label.text) }}
                                                        {{ filter_form.therapy_mode.label }}
                                                    </div>
                                                </div>

                                                <div class="col-lg-auto">
                                                    <div class='form-floating'>
                                                        {{ filter_form.duration(class_='form-control', placeholder=filter_form.duration.label.text) }}
                                                        {{ filter_form.duration.label }}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                                    
                        <div class="row mt-2 g-2">
                            <div class="col-auto">
                                {{ submit_button(filter_form.submit_filter, extra_class='w-auto') }}
                            </div>
                            <div class="col-auto">
                                {{ submit_button(filter_form.submit_reset_filters, class='btn btn-secondary', extra_class='w-auto') }}
                            </div>
                        </div>
                    </form>

                    <div class="row mt-4">
                        <div class="col-auto my-muted" id="filter-count">
                            {{ therapists|length if therapists else 0}} therapists found
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="therapist-cards" class="row g-4">
            {{ therapist_cards(therapists) }}
        </div>

    </div>

{% endblock %}
