{% extends 'layout.html' %}

{% block title %}
    Therapist Directory
{% endblock %}

{% block content %}

    <div class='container'>
        
        <div class='row mb-3 g-4'>
            <div class='col-lg-12'>
                <h3>Therapist Directory</h3>
            </div>
        </div>
        
        <div class="row g-4 mb-4">

            <div class='col-lg-12'>
        
                <div class='my-card'>
                    <h3>Find a therapist</h3>

                    <form id="{{ filter_form.id }}" action="{{ filter_form.endpoint }}" novalidate>
                        
                        {{ filter_form.csrf_token }}
                        
                        <div class="row g-3 mb-3">

                            <div class="col-lg-auto">
                                <div class='form-floating'>
                                    {{ filter_form.name(class_='form-control', placeholder=filter_form.name.label.text) }}
                                    {{ filter_form.name.label }}
                                </div>
                            </div>

                            <div class="col-lg-auto">
                                <div class='form-floating'>
                                    {{ filter_form.therapy_type(class_='form-control form-select', placeholder=filter_form.therapy_type.label.text) }}
                                    {{ filter_form.therapy_type.label }}
                                </div>
                            </div>


                            <div class="col-lg-auto">
                                <div class='form-floating'>
                                    {{ filter_form.therapy_mode(class_='form-control form-select', placeholder=filter_form.therapy_mode.label.text, multiple='multiple') }}
                                    {{ filter_form.therapy_mode.label }}
                                </div>
                            </div>

                            <div class="col-lg-auto">
                                <div class='form-floating'>
                                    {{ filter_form.duration(class_='form-control', placeholder=filter_form.duration.label.text) }}
                                    {{ filter_form.duration.label }}
                                </div>
                            </div>
                            
                            <div class="col-lg-auto">
                                <div class='form-floating'>
                                    {{ filter_form.titles(class_='form-control form-select', multiple='multiple') }}
                                    {{ filter_form.titles.label }}
                                </div>
                            </div>

                            <div class="col-lg-auto">
                                <div class='form-floating'>
                                    {{ filter_form.years_of_experience(class_='form-control', placeholder=filter_form.years_of_experience.label.text) }}
                                    {{ filter_form.years_of_experience.label }}
                                </div>
                            </div>
                            
                            <div class="col-lg-auto">
                                <div class='form-floating'>
                                    {{ filter_form.gender(class_='form-control form-select', placeholder=filter_form.gender.label.text) }}
                                    {{ filter_form.gender.label }}
                                </div>
                            </div>
                            
                            <div class="col-lg-auto">
                                <div class='form-floating'>
                                    {{ filter_form.language(class_='form-control form-select', placeholder=filter_form.language.label.text) }}
                                    {{ filter_form.language.label }}
                                </div>
                            </div>

                            <div class="col-lg-auto">
                                <div class='form-floating'>
                                    {{ filter_form.country(class_='form-control form-select', placeholder=filter_form.country.label.text) }}
                                    {{ filter_form.country.label }}
                                </div>
                            </div>
                            
                            <div class="col-lg-auto">
                                <div class='form-floating'>
                                    {{ filter_form.specialisations(class_='form-control form-select', multiple='multiple') }}
                                    {{ filter_form.specialisations.label }}
                                </div>
                            </div>

                            <div class="col-lg-auto">
                                <div class='form-floating'>
                                    {{ filter_form.interventions(class_='form-control form-select', multiple='multiple') }}
                                    {{ filter_form.interventions.label }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row g-3">

                            <div class="col-lg-auto">
                                {{ submit_button(filter_form.submit_filter) }}
                            </div>

                            <div class="col-lg-auto">
                                {{ submit_button(filter_form.submit_reset_filters) }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="therapist-cards" class="row g-4">
            {% for therapist in therapists %}
                {{ therapist_card(therapist) }}
            {% endfor %}
        </div>

    </div>

{% endblock %}
