{% extends 'layout.html' %}

{% block title %}
    Verify Email
{% endblock %}

{% block content %}

    <div class='my-container centered'>
        
        <h3>Verify your email</h3>
        <p>Check <strong>{{ email }}</strong> to activate your account</p>
        
        <form id="{{ form.id }}" action="{{ form.endpoint }}" novalidate>
            {{ form.csrf_token }}
            {{ submit_button(form.submit) }}
        </form>
        
        <p class='description'>Need help? <a href='/contact'>Contact us</a></p>
    </div>

{% endblock %}
