{% extends 'layout.html' %}

{% block title %}
    Verify Email
{% endblock %}

{% block content %}

    <div class='container'>
        <div class="row">
            <div class="col-lg-6 mx-auto">
                
                <div class='my-card'>
                    
                    <h4>Verify your email</h4>
                    <p>Check <strong>{{ email }}</strong> to activate your account</p>
                    
                    <form id="{{ form.id }}" action="{{ form.endpoint }}" novalidate>
                        {{ form.csrf_token }}
                        
                        <div class="row mb-3">
                            <div class="col-12">
                                {{ submit_button(form.submit) }}
                            </div>
                        </div>
                    </form>
                    
                    <p class='my-muted text-s'>Need help? <a href='/contact'>Contact us</a></p>
                
                </div>
            </div>
        </div>
    </div>

{% endblock %}
